	 <div id="remote" >
		<div> 
 			<span id="remote-back" ng-click="clickButton(remoteButtons.BACK)" class="btn btn-default">
 		  		<i class="fa fa-arrow-left"></i>
 			</span>
		
			<span id="remote-home" ng-click="clickButton(remoteButtons.HOME)" class="btn btn-default">
		  	  	<i class="fa fa-home"></i>
			</span>
		</div> 
		
		<div> 
 			<span id="remote-arrow-up" ng-click="clickButton(remoteButtons.UP)" class="btn-info fa-stack fa-lg">
 		  		<i class="fa fa-square-o fa-stack-2x"></i>
 		  	  	<i class="fa fa-chevron-up fa-stack-1x"></i>
 			</span>		
		</div>
		 
		<div> 
  			<span id="remote-arrow-left" ng-click="clickButton(remoteButtons.LEFT)" class="btn-info fa-stack fa-lg">
  		  		<i class="fa fa-square-o fa-stack-2x"></i>
  		  		<i class="fa fa-chevron-left fa-stack-1x"></i>
  			</span>
		 
   			<span id="remote-arrow-right" ng-click="clickButton(remoteButtons.RIGHT)" class="btn-info fa-stack fa-lg">
   		  		<i class="fa fa-square-o fa-stack-2x"></i>
   		  		<i class="fa fa-chevron-right fa-stack-1x"></i>
   			</span>
		</div>
		
		<div>
   			<span id="remote-arrow-down" ng-click="clickButton(remoteButtons.DOWN)" class="btn-info fa-stack fa-lg">
   		  		<i class="fa fa-square-o fa-stack-2x"></i>
   		  		<i class="fa fa-chevron-down fa-stack-1x"></i>
   			</span>
		</div> 
		 
		<div>
			<span id="remote-undo" class="btn btn-default">
		  	  	<i class="fa fa-undo"></i>
			</span>
		
			<span id="remote-ok" ng-click="clickButton(remoteButtons.OK)" class="btn btn-default">
		  	  OK
			</span>
		
			<span id="remote-star" ng-click="clickButton(remoteButtons.STAR)" class="btn btn-default">
		  		<i class="fa fa-asterisk"></i>
			</span>
		</div>
		
		<div>
			<span id="remote-rewind" ng-click="clickButton(remoteButtons.NOT_IMPLEMENTED)" class="btn btn-default">
		  	  	<i class="fa fa-backward"></i>
			</span>
		
			<span id="remote-play" ng-click="clickButton(remoteButtons.NOT_IMPLEMENTED)" class="btn btn-default">
				<i class="fa fa-play"></i>
			</span>
		
			<span id="remote-forward" ng-click="clickButton(remoteButtons.NOT_IMPLEMENTED)" class="btn btn-default">
		  	  	<i class="fa fa-forward"></i>
			</span>
		</div>
		<div>
			<span id="remote-a" ng-click="clickButton(remoteButtons.NOT_IMPLEMENTED)" class="btn btn-default">A</span>	 
		</div>
		<div>
			<span id="remote-b" ng-click="clickButton(remoteButtons.NOT_IMPLEMENTED)" class="btn btn-default">B</span>	 
		</div>
	 </div>