<div class="row">

<div class="alert alert-info">
	Enter your search terms and select a result on the right.
</div>

<div class="col-md-5">
<h2>Search</h2>
	<div class="form-group">
		<input class="form-control" ng-model="searchCtrl.searchText" />
	</div>
	<div roku-keyboard ></div>
</div>

<div class="col-md-6 col-md-offset-1">
<h2>Search Results</h2>
<ul class="list-group" ng-if="searchCtrl.showResults">
  <li class="list-group-item" ng-class="{active: searchCtrl.state === searchCtrl.pageState.RESULT_SELECTED}">PBS</li>
</ul>
</div>

</div>
